<div class="app-container">
  <app-topbar [isHandset]="(isHandset$ | async) || false" (toggleSidenav)="sidenav.toggle()"></app-topbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav
                 class="sidenav"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)"
                 [fixedInViewport]="true"
                 fixedTopGap="64">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>